FLASK_ENV=development
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres:marketwala281412@db.oebdmxrxmtkbjpumqdch.supabase.co:5432/postgres
SUPABASE_URL=https://oebdmxrxmtkbjpumqdch.supabase.co
SUPABASE_KEY=sb_publishable_nTK7YRAT8sbrfJqLRdBj_Q_cqs70g8E
RAZORPAY_KEY_ID=
RAZORPAY_SECRET=
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=
MAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_EMAIL=dipaksonwane412@gmail.com
ADMIN_NAME=Dipak Sonwane
SITE_URL=http://localhost:5000
